.home{
    background-image: url(../../../../back/ag.gif);
    height: 640px;
    background-position: center center;
    background-size: cover;

}

#about{
    background: #191919;
    height: 800px;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
}
h1{
    font-family: "Poppins",sans-serif;
}
.accordion-body{
    background: #191919;
    border: none;
}
.accordion-button{
    color: #fcfcff;
    background: #000000;
    border: none;
}
.accordion-item{
    background-color: #191919;
}
.profileE{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40%;
    color: rgba(198,201,216,0.75);
    margin-top: 50px;
}

.img-fluid {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
}
.photoP{
display: flex;

}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutt{
    display: flex;
    justify-content: center;
}
.aboutt p{
    font-size: 226%;
}
.img{
    
    width: 80%;

    border-radius: 50%;
}
.about{
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.pd{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
    line-height: 40px;
}
.pd p{
    text-align: left;
    color:  rgba(198,201,216,0.75)
}

.tab-content>.active {
    display: block;
    text-align: left;
}
.Project{
    background: #101010;
    height: 500px;
    background-position: center center;
    background-size: cover;
    color: rgba(198,201,216,0.75);
    padding-top: 8%;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ef:hover{
    box-shadow: 0px 5px 7px 2px #888888;
    color: black;
    background: aliceblue;
    cursor: pointer;
    
 

}
.ef{
    transition-duration: 1s;
    transition-property: all;
   text-align: left;
    cursor: pointer;
    text-decoration: none;
    height: 280px;
   
}

.de{
    text-decoration: none;
    color: rgba(198,201,216,0.75);
}
.HireMe{
    background: #191919;
    height: 640px;
    background-position: center center;
    background-size: cover;
    color:rgba(198,201,216,0.75);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11%;
    
}
.a {
    color: #fcfcff;
}
.u{
        display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.rec,.fo, .u{
height: calc(94%/3);
margin-top: 2%;
}
.rec{
    display: contents;
}
.footer{
    
    display: flex;
    background: #101010;
    padding-left: 3%;

}
.tab{
    width: 200%;
    line-height: 42px;
}
.sub{
    
    background-color: #191919;
    color: #888888;
    
}
.sub:hover{
    background-color: #888888;
    color: #191919;
}
a  {
    color: #888888;
    text-decoration: none
}

@media (min-width:539px) and (max-width:768.00px) {
    .Project {
        
        
        height: 1200px;

      
    }
    #about {
    
        height: 1100px;
       
    }
    .home{
        background-image: url(../../../../back/ag3.gif);
       
    
    }
  }

  @media (min-width:400px) and (max-width:538px) {
    .Project {
        
        
        height: 1200px;

      
    }
    #about {
    
        height: 1500px;
       
    }
    .home{
        background-image: url(../../../../back/ag3.gif);
       
    
    }
    .fo{
        width: 70%;
    }
  }
  @media (min-width:250px) and (max-width:399px) {
    .Project {
        
        
        height: 1200px;

      
    }
    #about {
    
        height: 1500px;
       
    }
    .home{
        background-image: url(../../../../back/ag3.gif);
       
    
    }
    .fo{
        width: 70%;
    }
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #888888;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}